@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@import url('https://grainy-gradients.vercel.app/noise.svg');

.noise {
  background:
    linear-gradient(to right, blue, transparent),
    url(https://grainy-gradients.vercel.app/noise.svg);
  filter: contrast(170%) brightness(1000%);
}

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.tech {
  font-family: 'Brush Script MT', cursive;
  font-weight: 100;
  padding-left: 10px;
}

.arrow-keys-overlay {
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align left */
  gap: 10px;
  z-index: 1000;
}

.arrows {
  display: grid;
  grid-template-areas:
      ". up ."
      "left down right";
  gap: 10px;
}

.arrows > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.arrows > div:active {
  background-color: #ddd;
}

.arrows > div:nth-child(1) {
  grid-area: up;
}

.arrows > div:nth-child(2) {
  grid-area: left;
}

.arrows > div:nth-child(3) {
  grid-area: down;
}

.arrows > div:nth-child(4) {
  grid-area: right;
}

.arrow-keys-overlay > div:nth-child(2) {
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 16px;
  user-select: none;
}
